<div class="container">
  <!-- Title -->
  <h5 class="title">CREA ARTICOLO</h5>

  <p-panel header="Informazioni principali" styleClass="header-color">

    <!-- Articolo Lingua, Titolo e Sottotitolo -->
    <div class="row">
      <!-- Lingua Articolo -->

      <div class="col-2" [formGroup]="articleForm">
        <label class="label-costum" for="language">Lingua</label>
        <p-dropdown [options]="languageOptions" formControlName="selectedLanguage"
          placeholder="Seleziona la lingua" name="language"
          (onChange)="onLanguageChange($event)"></p-dropdown>
      </div>

      <!-- Titolo Articolo-->
      <div class="col-5" [formGroup]="articleForm">
        <label
          [class.invalid-label]="formSubmitted && articleForm.get('title')?.invalid && articleForm.get('title')?.touched"
          class="label-costum" for="title">Titolo*<small id="title-help">Inserire massimo 15
            parole</small></label>
        <input pInputText id="title" formControlName="title" class="custom-input"
          placeholder="Inserisci il titolo" name="title" />
        <div *ngIf="formSubmitted && articleForm.get('title')?.invalid" class="text-danger">
          Campo obbligatorio
        </div>
        <div *ngIf="articleForm.get('title')?.errors?.['maxWordsExceeded']" class="text-danger">
          Inserire massimo 15 parole
        </div>
      </div>

      <!-- Sottotitolo Articolo-->
      <div class="col-5" [formGroup]="articleForm">
        <label class="label-costum" for="subtitle"
          [class.invalid-label]="formSubmitted && articleForm.get('subtitle')?.invalid && articleForm.get('subtitle')?.touched">Sottotitolo*
          <small id="subtitle-help">Inserire massimo 17 parole</small></label>
        <input pInputText id="subtitle" formControlName="subtitle" class="custom-input"
          placeholder="Inserisci il sottotitolo" name="subtitle" />
        <div *ngIf="formSubmitted && articleForm.get('subtitle')?.errors?.['required']"
          class="text-danger">Campo
          obbligatorio</div>
        <div *ngIf="articleForm.get('subtitle')?.errors?.['maxWordsExceeded']" class="text-danger">
          Inserire massimo 17 parole
        </div>
      </div>
    </div>

    <!-- Articolo Descrizione e Città -->
    <div class="row">
      <!-- Descrizione Articolo -->
      <div class="col-12" [formGroup]="articleForm">
        <label class="label-costum" for="description"
          [class.invalid-label]="formSubmitted && articleForm.get('description')?.invalid && articleForm.get('description')?.touched">Descrizione*</label>
        <textarea pInputTextarea id="description" formControlName="description"
          placeholder="Inserisci descrizione" class="custom-textarea" name="description"
          required></textarea>
        <div *ngIf="formSubmitted && articleForm.get('description')?.errors?.['required']"
          class="text-danger">Campo
          obbligatorio</div>
      </div>


      <!-- Città Articolo-->
      <div class="col-11" [formGroup]="articleForm">
        <label
          [class.invalid-label]="formSubmitted && articleForm.get('articleDestinationID')?.invalid"
          class="label-costum" for="articleDestinationID">Città*</label>
        <input pInputText id="articleDestinationID" formControlName="articleDestinationID"
          class="custom-input" placeholder="Inserisci il Città" />
        <div *ngIf="formSubmitted && articleForm.get('articleDestinationID')?.invalid"
          class="text-danger">
          Campo obbligatorio
        </div>
      </div>
    </div>

    <!-- Articolo immagine -->
    <div class="row">
      <div class="col-6">
        <label class="label-costum">Carica immagine*</label>
        <input type="file" class="custom-input" name="image" required />
      </div>
    </div>
  </p-panel>
  <br>


  <div [formGroup]="articleForm">
    <div formArrayName="paragraphs">
      <div *ngFor="let paragraph of paragraphArray.controls; let i = index" [formGroupName]="i">
        <p-panel [header]="'Paragrafo ' + (i + 1)" styleClass="header-color">
          <div class="row">
            <div class="col-5">
              <label
                [class.invalid-label]="formSubmitted && paragraph.get('paragraphTitle')?.invalid"
                class="label-costum" for="paragraphTitle">Paragrafo Titolo*</label>
              <input pInputText id="paragraphTitle" formControlName="paragraphTitle"
                class="custom-input" placeholder="Inserisci il titolo del paragrafo"
                name="paragraphTitle" />
              <div *ngIf="formSubmitted && paragraph.get('paragraphTitle')?.invalid"
                class="text-danger">
                Campo obbligatorio
              </div>
            </div>
          </div>
          <!-- altri campi per il paragrafo -->
          <div class="row">
            <div class="col-12">
              <label
                [class.invalid-label]="formSubmitted && paragraph.get('paragraphDescription')?.invalid"
                class="label-costum" for="paragraphDescription">Descrizione del Paragrafo*</label>
              <textarea pInputTextarea id="paragraphDescription"
                formControlName="paragraphDescription" class="custom-textarea"
                placeholder="Inserisci la descrizione del paragrafo" name="paragraphDescription"
                required></textarea>
              <div *ngIf="formSubmitted && paragraph.get('paragraphDescription')?.invalid"
                class="text-danger">
                Campo obbligatorio
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-9">
              <label
                [class.invalid-label]="formSubmitted && paragraph.get('paragraphDestinationID')?.invalid"
                class="label-costum" for="paragraphDestinationID">Paragrafo Città*</label>
              <input pInputText id="paragraphDestinationID" formControlName="paragraphDestinationID"
                class="custom-input" placeholder="Inserisci la città"
                name="paragraphDestinationID" />
              <div *ngIf="formSubmitted && paragraph.get('paragraphDestinationID')?.invalid"
                class="text-danger">
                Campo obbligatorio
              </div>
            </div>

          </div>
          <!-- Articolo immagine -->
          <div class="row">
            <div class="col-6">
              <label class="label-costum">Carica immagine*</label>
              <input type="file" class="custom-input" name="image" required />
            </div>
            <!-- Reset Paragrafo-->
            <div class="col-1 reset">
              <button pButton type="button" icon="pi pi-refresh" label="Reset"
                (click)="resetParagraph(i)"></button>
            </div>
          </div>
        </p-panel>
      </div>
    </div>
  </div>




  <br>
  <!-- Bottoni Salva, Aggiungi-->
  <div class="row">
    <div class="col-1">
      <button pButton type="button" icon="pi pi-save" label="Salva" class="p-button-success"
        (click)="saveArticle()">
      </button>

    </div>
    <div class="col">
      <p-button label="Aggiungi" icon="pi pi-plus" (click)="addParagraph()"></p-button>
    </div>
  </div>